div > h2 {
  text-align: center;
}

.formlogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: #fff;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputlogin {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  justify-content: center;
}

.inputlogin > input {
  width: 100%;
  padding: 7px;
  margin: 5px 0;
  border-radius: 5px;
  height: auto;
  border: 1px solid #ccc;
}

.inputlogin > label {
  font-weight: bold;
  margin: 5px 5px 0px 5px;
  padding: 0;
}

.formlogin > button {
  width: 50%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: green;
  cursor: pointer;
  color: white;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.formlogin > button:hover {
  background-color: rgb(62, 131, 62);
}
